[submodule "libs/Set"]
	path = libs/Set
	url = https://github.com/SanjoSolutions/LuaSet.git
[submodule "libs/Library"]
	path = libs/Library
	url = https://github.com/SanjoSolutions/Library.git
[submodule "libs/Boolean"]
	path = libs/Boolean
	url = https://github.com/SanjoSolutions/LuaBoolean.git
